@using TeamCityLogParserWeb.Services
@inherits OutputComponentBase

<div class="card shadow-lg mx-auto animated fadeIn slowest" style="width: 95%; margin-top: 20px; min-width: 900px; margin-bottom: 20px;">
    <div class="card-body tabs-main-font">
        <h2 class="card-title tc-card-title"><i class="fas fa-poll-h"></i>&nbsp;&nbsp;Build Report</h2>

        <ul class="nav nav-tabs" id="reportTab" role="tablist">
            <li class="nav-item"><a class="nav-link @(@SummaryActive) " id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="true"  @onclick="(() => SelectedTab(0))">
                Summary</a></li>
            <li class="nav-item ">
                <a class="nav-link  @(@BuildErrorsActive) " id="errors-tab" data-toggle="tab" href="#errors" role="tab" aria-controls="errors" aria-selected="false" @onclick="(() => SelectedTab(1))">
                    Build Errors
                    @if (@AppState.BadgeErrorCount > 0)
                    {
                    <span class="badge badge-danger project-error-badge-size">@AppState.BadgeErrorCount</span>
                    }
                </a>
            </li>
            <li class="nav-item @(@DownloadsActive) "><a class="nav-link" id="downloads-tab" data-toggle="tab" href="#downloads" role="tab" aria-controls="downloads" aria-selected="false" @onclick="(() => SelectedTab(2))" >Downloads</a></li>
        </ul>

        <div class="tab-content py-3 px-3 px-sm-0" id="reportTabContent">
            <div class="tab-pane fade show  @(@SummaryActive) " id="summary" role="tabpanel" aria-labelledby="summary-tab">
                <OutputSummaryComponent></OutputSummaryComponent>
            </div>
            <div class="tab-pane fade show  @(@BuildErrorsActive)  " id="errors" role="tabpanel" aria-labelledby="errors-tab">
                <OutputErrorsComponent></OutputErrorsComponent>
            </div>
            <div class="tab-pane fade show  @(@DownloadsActive) " id="downloads" role="tabpanel" aria-labelledby="downloads-tab">
                <DownloadComponent></DownloadComponent>
            </div>
        </div>
    </div>
</div>